### 분석 목표 :
 1. 중점관리 키워드, 저효율 키워드 추출  
 2. 중점관리 광고그룹, 저효율 광과그룹 추출 
 
### 분석과정 :
 1. 데이터 전처리
 2. 데이터 탐색
 3. 시각화
 4. 데이터 분석

In [1]:
# 1. 데이터 전처리
# - read_exec 함수를 사용하여 데이터 불러오기
# - 데이터프레임 열단위 수치연산 및 데이터 타입 다루기
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [2]:
import matplotlib.pyplot as plt

In [3]:
import matplotlib
from matplotlib import font_manager, rc
import platform
try :
    if platform.system() == 'Windows':
        font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
        rc('font', family=font_name)
    else:
        rc('font', family='AppleGothic')
except :
    pass
matplotlib.rcParams['axes.unicode_minus'] = False

In [9]:
# 운영체제 디렉토리 경로 구분자가 다름
# - windows : 역슬래쉬(\)
# - Mac : 슬래쉬(/)
# df = pd.read_excel('./Data/네이버보고서.xls')
df = pd.read_excel('C:\\Users\\501-1\\PNU_201912\\10.R.주요업종별예측모델구축및분석\\The Python\\Data\\네이버보고서.xls')

In [10]:
df.head()

,"캠페인보고서(2019.02.01.~2019.04.30.),ftasia",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
1,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549,2512444
2,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.04991,295.975,2384965
3,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.66,1568699
4,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593,1175174

In [11]:
df = pd.read_excel('./Data/네이버보고서.xls', skiprows=[0])

In [12]:
df.tail()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
1376,올인원 패키지 : 업무자동화_3. 엑셀,엑셀셀서식,24016,0.0,0.0,0.0,0
1377,올인원 패키지 : 업무자동화_3. 엑셀,MATCH,32287,0.0,0.0,0.0,0
1378,마케팅KPI수립,LTV,32602,0.0,0.0,0.0,0
1379,data_camp_rmp_8,DECISION,60844,0.0,0.0,0.0,0
1380,4. 웹의 동작,REST,61193,0.0,0.0,0.0,0

In [13]:
df = pd.read_excel('./Data/네이버보고서.xls', skiprows=[0, 1, 3, 5])

In [14]:
df.head()

,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.4141488348992178,261.54944826150324,2512444
0,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
1,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903
2,6. 파이썬,파이썬,384522,260.4,0.067720,3705.360983,964876
3,1. 코딩,코딩,562162,271.2,0.048242,3243.215339,879560
4,2. C언어 일반,C언어,271370,153.6,0.056602,5269.257812,809358

In [16]:
df = pd.read_excel('./Data/네이버보고서.xls', skiprows=[0])
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

### 결측치 확인

In [17]:
df.isnull()

       광고그룹    키워드    노출수    클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
0     False  False  False  False   False            False         False
1     False  False  False  False   False            False         False
2     False  False  False  False   False            False         False
3     False  False  False  False   False            False         False
4     False  False  False  False   False            False         False
...     ...    ...    ...    ...     ...              ...           ...
1376  False  False  False  False   False            False         False
1377  False  False  False  False   False            False         False
1378  False  False  False  False   False            False         False
1379  False  False  False  False   False            False         False
1380  False  False  False  False   False            False         False

[1381 rows x 7 columns]

In [18]:
df.isnull().sum()

광고그룹               0
키워드                0
노출수                0
클릭수                0
클릭률(%)             0
평균클릭비용(VAT포함,원)    0
총비용(VAT포함,원)       0
dtype: int64

In [19]:
df.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
1376    0
1377    0
1378    0
1379    0
1380    0
Length: 1381, dtype: int64

### 데이터프레임의 열단위 수치연산 및 데이터 타입 다루기
- 클릭수(반올림, 일의 자리로 변경)  
- 클릭률  
- 평균클릭비용(VAT포함, 원)

In [21]:
# 클릭수 : 한번의 클릭이 총 몇번 이루어졌는지 나타내는 지표 => 반올림처리
clk = round(df['클릭수'], 0)

In [22]:
clk

0       9606.0
1       8058.0
2        324.0
3       1864.0
4        814.0
         ...
1376       0.0
1377       0.0
1378       0.0
1379       0.0
1380       0.0
Name: 클릭수, Length: 1381, dtype: float64

In [23]:
clk.astype(int)

0       9606
1       8058
2        324
3       1864
4        814
        ...
1376       0
1377       0
1378       0
1379       0
1380       0
Name: 클릭수, Length: 1381, dtype: int32

In [24]:
df['클릭수'] = clk.astype(int)

In [25]:
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268489,630.593475,1175174
4,3. html,HTML,9626374,814,0.008452,1408.435349,1145903

In [ ]:
# CTR
df['클릭률(%)'] = df['클릭수'] / df['노출수'] * 100

In [28]:
# CPC
cpc = round(df['평균클릭비용(VAT포함,원)'], 0)
df['평균클릭비용(VAT포함,원)'] = cpc.astype(int)

In [29]:
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,262,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,296,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4842,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268489,631,1175174
4,3. html,HTML,9626374,814,0.008452,1408,1145903

In [33]:
df.describe()

                노출수          클릭수       클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
count  1.381000e+03  1381.000000  1381.000000      1381.000000  1.381000e+03
mean   3.505415e+04    52.504707     0.352871       981.624909  3.791958e+04
std    2.964650e+05   387.513479     1.000468      1372.401050  1.421492e+05
min    1.001000e+03     0.000000     0.000000         0.000000  0.000000e+00
25%    1.814000e+03     1.000000     0.007152        64.000000  7.700000e+01
50%    3.805000e+03     4.000000     0.061031       396.000000  2.123000e+03
75%    1.073400e+04    14.000000     0.237026      1303.000000  1.743500e+04
max    9.626374e+06  9606.000000    13.587402      9363.000000  2.512444e+06

In [35]:
pd.set_option('display.float_format', '{:.2f}'.format) # 형식 float 형식으로

In [36]:
df.describe()

             노출수     클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
count    1381.00 1381.00 1381.00          1381.00       1381.00
mean    35054.15   52.50    0.35           981.62      37919.58
std    296465.03  387.51    1.00          1372.40     142149.16
min      1001.00    0.00    0.00             0.00          0.00
25%      1814.00    1.00    0.01            64.00         77.00
50%      3805.00    4.00    0.06           396.00       2123.00
75%     10734.00   14.00    0.24          1303.00      17435.00
max   9626374.00 9606.00   13.59          9363.00    2512444.00

### 중점관리키워드 추출
- 노출수, 클릭수 기준 상위 5%에 해당하는 키워드 추출  
 - 95 백분위수 찾기 (quantile 함수 사용)  
 - 95 백분위수 이상의 노출수 추출  
 - 상위 5%에 해당하는 키워드 추출

In [37]:
imp = df['노출수']

In [38]:
# 95 백분위 수 찾기
imp.quantile()

3805.0

In [39]:
imp.median()

3805.0

In [40]:
print(imp.quantile(0))
print(imp.min())

1001.0
1001

In [41]:
print(imp.quantile(1))
print(imp.max())

9626374.0
9626374

In [42]:
imp = imp[imp >= imp.quantile(0.95)]

In [43]:
imp

0      2319456
1       767491
2      1137840
3       694106
4      9626374
        ...
698     196862
741      94933
763      82858
777     126393
780      90041
Name: 노출수, Length: 70, dtype: int64

In [44]:
df_index = df.set_index('키워드')

In [46]:
df_index.head()

,광고그룹,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
키워드,,,,,,
-,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,2319456,9606,0.41,262,2512444
-,올인원 패키지 : 업무자동화_VBA,767491,8058,1.05,296,2384965
일러스트,ㅍAOP 전체_중복키워드_디자인(삭제),1137840,324,0.03,4842,1568699
-,올인원 패키지 : 데이터 분석 입문 온라인_파콘,694106,1864,0.27,631,1175174
HTML,3. html,9626374,814,0.01,1408,1145903

In [47]:
imp = df_index['노출수']
imp = imp[imp >= imp.quantile(0.95)]

In [48]:
imp.head()

키워드
-       2319456
-        767491
일러스트    1137840
-        694106
HTML    9626374
Name: 노출수, dtype: int64

In [49]:
clk = df_index['클릭수']
clk = clk[clk >= clk.quantile(0.95)]

In [50]:
clk.head()

키워드
-       9606
-       8058
일러스트     324
-       1864
HTML     814
Name: 클릭수, dtype: int32

In [53]:
# 노출수와 클릭수 모두 95 백분위수 이상 인 키워드
imp = df_index['노출수']
clk = df_index['클릭수']

In [57]:
result = df_index[(imp >= imp.quantile(0.95)) & (clk >= clk.quantile(0.95))]

In [58]:
result.head()

,광고그룹,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
키워드,,,,,,
-,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,2319456,9606,0.41,262,2512444
-,올인원 패키지 : 업무자동화_VBA,767491,8058,1.05,296,2384965
일러스트,ㅍAOP 전체_중복키워드_디자인(삭제),1137840,324,0.03,4842,1568699
-,올인원 패키지 : 데이터 분석 입문 온라인_파콘,694106,1864,0.27,631,1175174
HTML,3. html,9626374,814,0.01,1408,1145903

In [60]:
result.index

Index(['-', '-', '일러스트', '-', 'HTML', '파이썬', '코딩', 'C언어', '가상화폐', '포토샵',
       '블록체인', '엑셀', '-', '포토샵', '컴퓨터활용능력', '컴퓨터활용능력2급', '컴퓨터활용능력1급', '포토샵',
       '-', '프리미어프로', '폰트', '스케치', '포토샵', '글씨체', '한글폰트', '마블', '바이럴마케팅'],
      dtype='object', name='키워드')

### 노출수, 클릭수 기준 상위 5%의 키워드가 아닌데도 비용이 많이 쓰이는 키워드
- 노출수 95백분위수 미만  
- 클릭수 95백분위수 미만  
- 총비용 85백분위수 이상  
- 총비용 95백분위수 미만

In [61]:
cost = df_index['총비용(VAT포함,원)']

In [62]:
result = df_index[(imp < imp.quantile(0.95)) & (clk < clk.quantile(0.95))
                 & (cost >= cost.quantile(0.85)) & (cost < cost.quantile(0.95))]

In [64]:
result.index

Index(['온라인마케팅교육', '온라인마케팅', '어플제작비용', '부동산경매', '퍼포먼스마케팅', '블록체인', 'C++',
       '게임만드는프로그램', '엑셀배우기', '앱만들기', '영상제작', '쇼핑몰제작', '에프터이펙트', '어플리케이션제작',
       '강남빌딩매매', '웹디자인', '디지털마케팅', '포토샵강의', '구글애널리틱스자격증', 'PYTHON', '페이스북광고',
       '유튜브마케팅', '게임제작', '부동산투자', '마케팅전략', 'PYTHON', '홈페이지만들기', 'B2B사이트',
       'JAVASCRIPT', '파이썬강좌', '인스타그램광고', '동영상제작', 'SEO', '쇼핑몰창업', '인터넷쇼핑몰',
       '게임프로그래밍학원', '프로그래밍', '서울빌딩매매', '데이터사이언스', '모바일게임제작', '엑셀학원',
       '유튜브크리에이터', '엑셀VBA', '영상편집학원', '텐서플로우', '쇼핑몰홈페이지제작', '엑셀교육', '그로스해킹',
       '게임개발', '광고대행사', '통계학원', '모바일앱개발', '안드로이드앱만들기', '파이썬기초', '하이브리드앱',
       '온라인마케팅', '인디자인', '검색엔진최적화', '엑셀실무', '인터넷쇼핑몰제작', '상가빌딩매매', '퍼포먼스마케팅',
       '쇼핑몰', 'UX디자인', '유니티강좌', 'VBA', '코딩이란', 'SNS마케팅', 'GA자격증', '콘텐츠제작',
       '구글애널리틱스', 'UI디자인', '1인미디어', '포토샵자격증', '하이브리드앱', '포토샵자격증', '브랜드네이밍',
       '리플렛디자인', '데이터사이언티스트', '유니티3D', '자바스크립트', '일러스트레이터강좌', '데이터분석준전문가',
       '유튜브편집', '모션그래픽', '리플렛디자인', 'SPRING', '어도비일러스트레이터', 'SNS광고', '쇼핑몰촬영',
       '브랜드마케팅', '데이터분석', 'PHP', 'UXUI', 'SQL', 'UI디자인', '웹크롤링'],
      dtype='object', name='키워드')

### 광고그룹 분석
- as-is : 키워드 기준 분석   
 - 키워드의 노출수/클릭수/총비용...  
- to-bo : 광고그룹 기준 분석  
 - 데이터의 구성을 광고그룹 기준으로 변경  
 - 광고그룹의 노출수/클리수/총비용...   
 - groupby 함수 사용

In [65]:
grouped = df.groupby('광고그룹')

In [66]:
grouped.count()

                         키워드  노출수  클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
광고그룹
#000_마케팅 전체_main          48   48   48      48               48            48
001.BASIC DESIGN           9    9    9       9                9             9
001.데이터분석/ 통계             10   10   10      10               10            10
002.R                      9    9    9       9                9             9
002.UX/UI                  5    5    5       5                5             5
...                      ...  ...  ...     ...              ...           ...
포토샵 유치원_일러스트레이터 유치원       13   13   13      13               13            13
프로그래밍 유치원                  8    8    8       8                8             8
프로그래밍 전체                  12   12   12      12               12            12
프로그래밍 전체_파워컨텐츠_블록체인(삭제)    3    3    3       3                3             3
프론트엔드 개발 스쿨 12기_기존 키워드     1    1    1       1                1             1

[186 rows x 6 columns]

In [67]:
grouped.mean()

,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
광고그룹,,,,,
#000_마케팅 전체_main,14780.15,8.35,0.18,625.06,7243.96
001.BASIC DESIGN,5738.56,6.67,0.23,298.67,2427.33
001.데이터분석/ 통계,3715.00,20.20,0.89,1021.70,19575.60
002.R,13413.78,8.67,0.11,360.00,4796.00
002.UX/UI,3090.80,4.00,0.09,70.00,550.00
...,...,...,...,...,...
포토샵 유치원_일러스트레이터 유치원,72092.69,16.77,0.05,648.38,15781.62
프로그래밍 유치원,5921.62,7.75,0.22,2032.50,23617.00
프로그래밍 전체,90375.00,9.17,0.02,123.92,1626.17
프로그래밍 전체_파워컨텐츠_블록체인(삭제),65353.33,2344.33,3.64,192.67,431159.67
프론트엔드 개발 스쿨 12기_기존 키워드,2015.00,2.00,0.12,64.00,154.00

In [68]:
grouped.median()

,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
광고그룹,,,,,
#000_마케팅 전체_main,2765.00,4.00,0.06,766.00,2458.50
001.BASIC DESIGN,5524.00,2.00,0.04,358.00,1023.00
001.데이터분석/ 통계,1813.00,13.50,0.57,1097.00,13464.00
002.R,5184.00,4.00,0.03,119.00,1287.00
002.UX/UI,2649.00,1.00,0.09,73.00,88.00
...,...,...,...,...,...
포토샵 유치원_일러스트레이터 유치원,5763.00,4.00,0.02,853.00,2706.00
프로그래밍 유치원,3748.00,3.00,0.12,1764.00,8002.50
프로그래밍 전체,3455.50,1.00,0.01,130.50,225.50
프로그래밍 전체_파워컨텐츠_블록체인(삭제),64981.00,2798.00,3.52,240.00,334961.00
프론트엔드 개발 스쿨 12기_기존 키워드,2015.00,2.00,0.12,64.00,154.00

In [69]:
grouped.sum()

                             노출수   클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
광고그룹
#000_마케팅 전체_main          709447   401    8.83            30003        347710
001.BASIC DESIGN           51647    60    2.10             2688         21846
001.데이터분석/ 통계              37150   202    8.91            10217        195756
002.R                     120724    78    1.00             3240         43164
002.UX/UI                  15454    20    0.45              350          2750
...                          ...   ...     ...              ...           ...
포토샵 유치원_일러스트레이터 유치원       937205   218    0.66             8429        205161
프로그래밍 유치원                  47373    62    1.80            16260        188936
프로그래밍 전체                 1084500   110    0.29             1487         19514
프로그래밍 전체_파워컨텐츠_블록체인(삭제)   196060  7033   10.93              578       1293479
프론트엔드 개발 스쿨 12기_기존 키워드      2015     2    0.12               64           154

[186 rows x 5 columns]

In [70]:
df_group = grouped.sum()
df_group

                             노출수   클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
광고그룹
#000_마케팅 전체_main          709447   401    8.83            30003        347710
001.BASIC DESIGN           51647    60    2.10             2688         21846
001.데이터분석/ 통계              37150   202    8.91            10217        195756
002.R                     120724    78    1.00             3240         43164
002.UX/UI                  15454    20    0.45              350          2750
...                          ...   ...     ...              ...           ...
포토샵 유치원_일러스트레이터 유치원       937205   218    0.66             8429        205161
프로그래밍 유치원                  47373    62    1.80            16260        188936
프로그래밍 전체                 1084500   110    0.29             1487         19514
프로그래밍 전체_파워컨텐츠_블록체인(삭제)   196060  7033   10.93              578       1293479
프론트엔드 개발 스쿨 12기_기존 키워드      2015     2    0.12               64           154

[186 rows x 5 columns]

In [73]:
df_group['클릭률(%)'] = df_group['클릭수'] / df_group['노출수']

In [74]:
df_group['평균클릭비용(VAT포함,원)'] = df_group['총비용(VAT포함,원)'] / df_group['클릭수']

In [76]:
df_group[df_group['클릭수'] == 0]

                               노출수  클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
광고그룹
Hyperledger Fabric 프로젝트 CAMP  1990    0    0.00              nan             0
fin_camp_business_4           2136    0    0.00              nan             0
fin_camp_rfs_9                1928    0    0.00              nan             0
다함께 DDD 프로젝트                  3689    0    0.00              nan             0
올인원 패키지 : 디지털 마케팅_인스타광고       1377    0    0.00              nan             0

In [77]:
df_group['평균클릭비용(VAT포함,원)'] = df_group['평균클릭비용(VAT포함,원)'].fillna(0)

In [78]:
df_group[df_group['클릭수'] == 0]

                               노출수  클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
광고그룹
Hyperledger Fabric 프로젝트 CAMP  1990    0    0.00             0.00             0
fin_camp_business_4           2136    0    0.00             0.00             0
fin_camp_rfs_9                1928    0    0.00             0.00             0
다함께 DDD 프로젝트                  3689    0    0.00             0.00             0
올인원 패키지 : 디지털 마케팅_인스타광고       1377    0    0.00             0.00             0

In [82]:
# 평균클릭비용 컬럼 원단위 반올림, int 타입 처리
df_group['평균클릭비용(VAT포함,원)'] = round(df_group['평균클릭비용(VAT포함,원)'], 0)
df_group['평균클릭비용(VAT포함,원)'] = df_group['평균클릭비용(VAT포함,원)'].astype(int)

In [83]:
df_group.head()

                     노출수  클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
광고그룹
#000_마케팅 전체_main  709447  401    0.00              867        347710
001.BASIC DESIGN   51647   60    0.00              364         21846
001.데이터분석/ 통계      37150  202    0.01              969        195756
002.R             120724   78    0.00              553         43164
002.UX/UI          15454   20    0.00              138          2750

### 중점관리 광과그룹 / 저효율 광고그룹
- 중점관리 광고그룹
 - 상위 20% (노출수 80백분위수 이상)
 - 상위 10% (클릭수 90백분위수 이상)

In [84]:
imp = df_group['노출수']
clk = df_group['클릭수']

In [85]:
result = df_group[(imp >= imp.quantile(0.8)) & (clk >= clk.quantile(0.9))]

In [86]:
result.index

Index(['#000_마케팅 전체_main', '1. 코딩', '3. html', '6. 파이썬', 'AOP 전체_중복키워드_디자인',
       'AOP 전체_중복키워드_비지니스', 'ㅍAOP 전체_중복키워드_디자인(삭제)', '마케팅 전체',
       '올인원 패키지 : 데이터 분석 입문 온라인_파콘', '올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵',
       '올인원 패키지 : 업무자동화_VBA', '타이포그래피와 편집디자인', '프로그래밍 전체_파워컨텐츠_블록체인(삭제)'],
      dtype='object', name='광고그룹')

### 저효율 광고그룹 : 노출수, 클리수 기준 상위의 키워드가 아닌데도 비용이 많이 쓰이는 과그룹
- 노출수 80백분위수 미만  
- 클릭수 90백분위수 미만  
- 총비용 60백분위수 이상
- 총비용 90백분위수 미만

In [94]:
cost = df_group['총비용(VAT포함,원)']

In [95]:
result = df_group[(imp < imp.quantile(0.8)) & (clk < clk.quantile(0.9))
                 & (cost >= cost.quantile(0.6)) & (cost < cost.quantile(0.9))]

In [96]:
result.index

Index(['001.데이터분석/ 통계', '002.마케팅 입문', '003.퍼포먼스 마케팅', '1. 전체', '2. 프로그래밍',
       '5. 자료구조', 'AOP 전체_중복키워드_공통', 'AOP 전체_중복키워드_데이터사이언스',
       'AOP 전체_중복키워드_프로그래밍', 'JavaScript BOOT CAMP',
       'Python & Django를 활용한 웹 서비스_개발자', 'SEO/SEM 전략',
       'TensorFlow로 시작하는 딥러닝 입문', 'fin_camp_auction_6', 'ㅍAOP 전체_중복키워드_공통(삭제)',
       'ㅍAOP 전체_중복키워드_마케팅(삭제)', 'ㅍAOP 전체_중복키워드_프로그래밍(삭제)',
       'ㅍ올인원 패키지 : UX/UI 디자인 입문_연관검색어(삭제)', 'ㅍ올인원 패키지 : 브랜딩',
       '고객의 마음을 읽는 구글애널리틱스', '대기업을 이기는 브랜딩 전략', '마케터를 위한 데이터 부트캠프',
       '마케터를 위한 데이터 해석 실전', '마케팅 유치원', '마케팅KPI수립',
       '올인원 패키지 : 1인 쇼핑몰 시작하기_02.쇼핑몰구축', '올인원 패키지 : 1인 쇼핑몰_00.창업_MO',
       '올인원 패키지 : UX/UI 디자인 입문_연관검색어', '올인원 패키지 : 그로스해킹_5.마케팅 분석',
       '올인원 패키지 : 디지털 마케팅_1. 디지털 마케팅', '올인원 패키지 : 브랜딩',
       '올인원 패키지 : 업무자동화_1. 자동화', '올인원 패키지 : 업무자동화_4. VBA',
       '올인원 패키지 : 영상 제작/편집_9.유튜브/유튜버', '왕초보의 파이썬 웹 프로그래밍 CAMP',
       '코딩으로 여행하는 블록체인 서비스', '페이스북&인스타그램 마케팅 실전', '프로그래밍 유치원'],
      dtype='object', name='광고그룹')